table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  border-collapse: collapse;
  
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width:500px;
  align-self: center;
  background-image: linear-gradient(to bottom right, rgb(12, 0, 44) ,rgb(8, 0, 31));


}
#screen{
    padding-top: 25px;
    padding-right:20px;
    color:ghostwhite;
    border-radius: 5px;
    height: 75px;
    width: 75%;
    font-size: 50px;
    text-align: right;
    background-color: rgb(29, 29, 29);
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 5px 5px 5px black;
}
button{
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 2px black;
    color:ghostwhite;
    font-size: xx-large;
    background-color: rgb(24, 20, 255);
}
.nums{
    background-image: linear-gradient(to bottom right, rgb(95, 95, 95),rgb(66, 66, 66));
}
#clear{
    background-image: linear-gradient(to bottom right, red,brown);
}
button:hover{
    transform: translate(5px, 5px);
}