table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  border-collapse: collapse;
  border: 5px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width:500px;
  align-self: center;

}
#screen{
    padding-right:10px;
    border:5px solid black;
    border-radius: 5px;
    height: 50px;
    font-size: 30px;
    text-align: right;
    background-color: rgb(233, 233, 233);
}
button{
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}
button:hover{
    transform: translate(-5px, 5px);
}